---
import Navigation from "../components/navigation.astro";
import Button from "../components/button.astro";
---

<Navigation />
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
      <img class="hero-bg" src="/" alt="hero background" />
      <div class="main-intro">
        <img id="/" src="/" alt="portrait" />
      </div>
    </main>
    <section>
        <h2>vælg dit eventyr</h2>
        <p>
           HOJSKOLENDK er en dansk højskole for unge i alderen 18-26 år.<br />
           Vi brænder for oplevelser, fællesskabet og det gode eventyr.
        </p>
        <Button title="Se rejsekalender" variant="secondary" />
        <Button title="Infomoeder" variant="tredje" />
    </section>
	</body>
</html>
