/* Reset af margin og padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Infomøde {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 3rem;
}

.Infomøde-text {
  grid-column: 1 / 3;
}

.Form {
  grid-column: 1;
  grid-row: 2;

  background: white;
  padding: 2rem;
}

.Infomøde-image {
  grid-column: 2;
  grid-row: 2;
}

.Infomøde-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 0.85rem;
  font-weight: 500;
}

input,
select {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.Tilladelser {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

@font-face {
  font-family: DelaGothicOne;
  src: url("public/fonts/DelaGothicOne-Regular.ttf");
}

h1,
h2,
h3,
p,
.logo {
  font-family: DelaGothicOne, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
